h1 {
    font-size: 50px;
    text-align: center;
    color :aqua;
    background-color:beige;
} 
h2 {
    background-color:rgb(0, 255, 170);
} 

h3 {
    background-color:aquamarine;
} 
